In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("../data/run.csv", delimiter=",", decimal=".", encoding="utf-8")

## *Carga el CSV de la carpeta de datos del tema llamado run.csv y responde a las siguientes preguntas. Preguntas de esta tarea:*

## 1- Indica cuantos estudiantes formaron parte del estudio de deporte

In [31]:
num=df['altura'].count()
num

92

## 2- Indica cuantos individuos son hombres y cuantos son mujeres

In [4]:
 df.groupby('genero').genero.count()

genero
H    57
M    35
Name: genero, dtype: int64

## 3- Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

In [54]:
df['%var_pulso'] = ((df['pulso.despues']-df['pulso.antes'])*100)/df['pulso.despues']

df.groupby('hace.deporte').mean()

,Unnamed: 0,pulso.antes,pulso.despues,altura,peso,%var_pulso
hace.deporte,,,,,,
no,47.017544,72.421053,72.315789,68.065789,141.122807,-0.150372
si,45.657143,73.600000,92.514286,69.778571,151.714286,18.715914

## 4- Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

In [55]:
df[df['hace.deporte'] == "si"].groupby('genero').mean()

,Unnamed: 0,pulso.antes,pulso.despues,altura,peso,%var_pulso
genero,,,,,,
H,38.083333,70.250000,83.208333,71.229167,162.000000,14.371869
M,62.181818,80.909091,112.818182,66.613636,129.272727,28.193831

## 5- Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

In [57]:
df[df['hace.deporte']=="no"].groupby('fuma').mean()

,Unnamed: 0,pulso.antes,pulso.despues,altura,peso,%var_pulso
fuma,,,,,,
no,45.512195,71.707317,71.512195,68.079268,138.195122,-0.319298
si,50.875000,74.250000,74.375000,68.031250,148.625000,0.282501

## 6- Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

In [58]:
df.groupby('tipo.actividad').mean()

,Unnamed: 0,pulso.antes,pulso.despues,altura,peso,%var_pulso
tipo.actividad,,,,,,
intensa,43.285714,71.571429,72.190476,69.571429,147.285714,0.673985
moderada,45.934426,72.737705,82.786885,68.377049,143.754098,9.713154
nula,1.000000,48.000000,54.000000,68.000000,150.000000,11.111111
suave,62.888889,79.555556,82.222222,69.111111,149.111111,3.190957